__pycache__/
*.pyc
.venv/
venv/

node_modules/
.next/
out/

backend/app/storage/datasets/*
backend/app/storage/models/*
backend/app/storage/reports/*
!backend/app/storage/datasets/.gitkeep
!backend/app/storage/models/.gitkeep
!backend/app/storage/reports/.gitkeep

.env
.env.local

*.log
.DS_Store
*.db
backend/app/storage/automl.db
